{% extends "base.html" %}
{% block content %}
<div>
    <!-- About-->
    <article class="h4" >
        <div>
            <h1 class="text-center">Motivation:</h1>
            <br>
            <p style="text-indent:40px">To compare different frameworks and to see which would give me the best result. I figured the best way to test this out would be to create identical Applications using those both frameworks. I currently have finish:
                <ul class="text-center">
                    <li><a href="#">Django (aschonnproject)</a></li>
                    <li><a href="https://www.hpforiginals.com">Flask (hpforiginals)</a></li>
                </ul> 
            
            </p>

            <br>
            <h1 class="text-center">Why Django Over Flask?</h1>
            <br>
            <p style="text-indent:40px">Why Django Over Flask? That is the question. <b>Flask</b> offers a clean slate with no added features just a bare bone framework. Metaphoricaly it's like an openfield; there's space, materials, and freedom. It doesnt overwhelm, but it gives you the flexiblity to create anything with its huge set of external libraries and add-ons. It's a perfect for beginners, but <b>Django</b> on the other hand is like a city; It has rules, security, and is very scalable if done right, but the only downside is the learning curve just like any<a href="https://www.noemnime.com/2017/11/top-isekai-anime-main-character-transported-another-world.html"> isekai anime main character</a>, they must learn the customs and rules before they can truely experience what all <b>Django</b> has to offer. personally, I prefer <b>Django</b> for larger projects due to its scalability, Database flexibility, and Admin GUI. 
        </div>
    </article>
    <br>
    <br>
    <section class="resume-section text-center" id="about">
        <div class="resume-section-content">
            <h2 class="mb-0">
                Andrew
                <span class="text-primary">Schonnesen</span>
                <a class="social-icon" href="https://www.linkedin.com/in/andrew-schonnesen-ab7393197/"><i class="fa fa-linkedin"></i></a>
                <a class="social-icon" href="https://github.com/aschonn"><i class="fa fa-github"></i></a>
            </h2>
            <div class="subheading mb-5">
                · Monticello, MN 55362 · (763) 367-0804 · 
                <a href="mailto:Aschonn_trinity@yahoo.com">Email</a> · 
            </div>
        </div>
    </section>
</div>
<br>
<p class="text-center"><small>Yes, I did buy 2 domain name and 2 linode servers to do this 🙃 </small></p>
{% endblock content %}